<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Login Here</h1>
            <form action="" [formGroup]="loginform" (ngSubmit)="checklogin()">
                <div class="form-group" >
                    <label for="" class="form-label">username</label>
                    <input type="text" class="form-control" name="uname" formControlName="username">
                </div>
                <div class="form-group">
                    <label for="" class="form-label">password</label>
                    <input type="text" class="form-control" name="pwd" formControlName="password">
                </div>
                <button class="btn btn-success mt-2" type="submit">Login</button>
                <br>
                <a routerLink="/registration" style="text-decoration: none;">Don't have an account</a>
            </form>
        </div>
    </div>
</div>